
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/recuperar_senha.css'%}">
    <title>Recuperação de senha | ReservEasy</title>
</head>
<body>

    {%block topbar%}
        {%include 'partials/_topbar.html'%}
    {%endblock%}

    <section class="recuperate-password">
        <div class="recuperate-password-apresentation">
            <img src="{% static 'img/logo.png'%}" alt="" class="image-system">
            <h1 class="recuperate-password-text">Redefinir sua senha </h1>
        </div>
        <div class="recuperate-password-user">  
            <div class="circle-form" id="iconContainer">
                <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                <lord-icon
                    src="https://cdn.lordicon.com/hbvyhtse.json"
                    trigger="hover"
                    colors="primary:#A0BE3D"
                    style="width:80px;height:80px">
                </lord-icon>
            </div>
            <div class="form-with-background">
                <form action="" method="post" class="user">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" id="button-recuperar" value="Enviar e-mail">Enviar e-mail</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>