{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/recuperar_senha.css'%}">
    <title>Recuperação de senha | ReservEasy</title>
</head>
<body>

    {%block topbar%}
        {%include 'partials/_topbar.html'%}
    {%endblock%}

    <section class="recuperate-password">
        <div class="recuperate-password-apresentation">
            <img src="{% static 'img/logo.png'%}" alt="" class="image-system">
            <h1 class="recuperate-password-text">Recuperação de senha</h1>
            <br>
            <br>
            <br>
            <h6> Enviamos para você por e-mail instruções para redefinir sua senha (verifique o spam).</h6>

            <h6> Se você não receber o e-mail verifique se digitou 
                o endereço de e-mail que se registrou. </h6>
        </div>
    </section>
</body>
</html>