{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/recuperar_senha.css'%}">
    <title>Recuperação de senha | ReservEasy</title>
</head>
<body>
<style>
    .btn-editar {
        padding: 10px 20px;
        font-size: 10px;
        text-transform: uppercase;
        color: #fff;
        background-color: #05183c;
    }
    .btn-editar:hover {
        background-color: #1a3c7d;
        color: #fff;
    }
    a{
        display: inline-block;
        margin: 2px;
        border-radius: 3px;
        color: #fff;
        background-color: #27ae60;
        border: 1px solid #27ae60;
    }
</style>


    {%block topbar%}
        {%include 'partials/_topbar.html'%}
    {%endblock%}

    <section class="recuperate-password">
        <div class="recuperate-password-apresentation">
            <img src="{% static 'img/logo.png'%}" alt="" class="image-system">
            <h1 class="recuperate-password-text">Redefinição de senha</h1>
            <br>
            <h6> Sua senha foi redefinida com sucesso!</h6>
            <a href="/accounts/login/" class="btn-editar">Acessar minha conta</a>
        </div>
    </section>
</body>
</html>