
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/recuperar_senha.css'%}">
    <title>Recuperação de senha | ReservEasy</title>
</head>
<body>

    {%block topbar%}
        {%include 'partials/_topbar.html'%}
    {%endblock%}
{% if validlink %}
    <section class="recuperate-password">
        <div class="recuperate-password-apresentation">
            <img src="{% static 'img/logo.png'%}" alt="" class="image-system">
            <h1 class="recuperate-password-text">Redefinir sua senha </h1>
        </div>
        
            <div class="recuperate-password-user">
                <div class="circle-form" id="iconContainer">
                    {% comment %} <script src="https://cdn.lordicon.com/bhenfmcm.js"></script> {% endcomment %}
                    {% comment %} <lord-icon
                        src="https://cdn.lordicon.com/hbvyhtse.json"
                        trigger="hover"
                        colors="primary:#A0BE3D"
                        style="width:80px;height:80px">
                    </lord-icon> {% endcomment %}
                </div>
                <div class="form-with-background">
                    <form action="" method="post" class="user">
                        <h4 style= "color: #05183c; font-size: 15px;"> POR FAVOR, DIGITE SUA SENHA <strong>DUAS VEZES</strong> PARA CONFIRMAÇÃO: </h4>  
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" id="button-recuperar" value="Alterar Senha">Alterar Senha</button>
                    </form>
                </div>
            </div>
    </section>
{% else %}        
    <section class="recuperate-password">
        <div class="recuperate-password-apresentation">
            <img src="{% static 'img/logo.png'%}" alt="" class="image-system">
            <h1 class="recuperate-password-text">Redefinir sua senha </h1>
        </div>
        <br>
        <br>
        <br>
        <h6> Esse link de redefinição de senha é inválido, 
            solicite uma nova redefinição de senha.
        </h6>
    </section>
{% endif %}
    
</body>
</html>