{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon.icon' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/cadastro-usuario.css' %}">
    <style>
        .modal {
            display: none; /* Ocultar por padrão */
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4); /* Fundo escuro translúcido */
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; 
            padding: 20px;
            border: 1px solid #888;
            border-radius: 20px;
            width: 60%; /
            max-width: 600px; /* Largura máxima do modal */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            position: relative;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        .termos > p, .termos > h2{
            width: 100%;
            text-align: justify;
            font-size: 12px;
        }
        .termos > h1{
            font-size: 15px;
            text-align: center;
        }
    </style>
    <title>Cadastro | ReservEase</title>
</head>

<body>

    <section class="cadastro-usuario">
        <div class="identicacao-page-cadastro">
            <h1 class="title-cadastro-usuario">Seja bem-vindo!</h1>
            <h1 class="divisa-title-cadastro-usuario">|</h1>
            <img src="{% static 'img/logotipo.png' %}" alt="Logotipo do Sistema" class="logotipo-cadastro-usuario">
        </div>
        <div class="form-with-background-cadastro">
            <div class="circle-form">
                <img src="{% static 'img/user.png'%}" alt="imagem usuario">
            </div>
            <form action="" method="post" class="cadastro-usuario" id="cadastro-form">
                {% csrf_token %}
                <div class="user-type-selection">
                    <div class="radiosUser">
                        <div class="radio-group">
                            <input type="radio" id="servidor" name="user_type" value="2" {% if tipo == '2' %}checked{% endif %}>
                            <label for="servidor">Servidor</label>
                        </div>
                        <div class="radio-group">
                            <input type="radio" id="discente" name="user_type" value="1" {% if tipo == '1' %}checked{% endif %}>
                            <label for="discente">Discente</label>
                        </div>
                    </div>
                    <div class="general-errors">
                        {% if form.non_field_errors %}
                        <div class="error">{{ form.non_field_errors }}</div>
                        {% endif %}
                        {% if form.errors %}
                        <ul>
                            {% comment %} <li><strong>Selecione novamente o tipo de usuário utilizado anteriormente</strong></li> {% endcomment %}
                            {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div id="inputs-comuns" style="display: flex;">
                    <input type="hidden" name="tipo" id= "tipo">
                    <p>
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        <span class="helptext">Obrigatório. 150 caracteres ou menos. Letras, números e @/./+/-/_ apenas.</span>
                    </p>
                    <p>
                        {{ form.first_name.label_tag }}
                        {{ form.first_name }}
                    </p>
                    <p>
                        {{ form.last_name.label_tag }}
                        {{ form.last_name }}
                    </p>
                    <p>
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </p>
                    <p>
                        {{ form.telefone.label_tag }}
                        {{ form.telefone }}
                    </p>
                    <p>
                        {{ form.data_nascimento.label_tag }}
                        {{ form.data_nascimento }}
                    </p>
                    <p>
                        <label for="matricula">Matrícula/Siape:</label>
                        {{ form.matricula }}
                    </p>
                    <div id="inputs-discente" style="display: {% if tipo == '1' %}flex{% else %}none{% endif %};">
                        <p>
                            {{ form.turma.label_tag }}
                            {{ form.turma }}
                        </p>

                    </div>

                    <div id="inputs-servidor" style="display: {% if tipo == '2' %}flex{% else %}none{% endif %};">
                        <p>
                            {{ form.cargo.label_tag }}
                            {{ form.cargo }}
                        </p>

                    </div>
                    <p>
                        {{ form.password1.label_tag }}
                        {{ form.password1 }}
                        <ul>
                            <strong> Informações sobre sua senha:</strong>
                            <li>Ela não pode ser muito parecida com suas informações pessoais.</li>
                            <li>Ela precisa conter pelo menos 8 caracteres.</li>
                            <li>Ela não pode ser uma senha comumente utilizada.</li>
                            <li>Ela não pode ser inteiramente numérica.</li>
                        </ul>
                    </p>
                    <p>
                        {{ form.password2.label_tag }}
                        {{ form.password2 }}
                        <span class="helptext">Informe a mesma senha informada anteriormente, para verificação.</span>
                    </p>
                </div>
                <div id="formCheckFinal" style="display: flex;">
                    <div id="form-check">
                        <input type="checkbox" class="form-check-input" id="termo_uso" name="termo_uso" required>
                        <label class="form-check-label" for="termo_uso">Estou de acordo com o <a href="#" id="open-modal-termos">termo de uso</a></label>
                    </div>
                    <button type="submit" id="button-cadastrar-usuario">Cadastrar</button>
                </div>
            </form>

            <p class="login-usuario">Possui uma conta? <a href="/accounts/login/">Acesse sua conta agora</a></p>
        </div>

    </section>

    <!-- Modal de Termos de Uso -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h1>Termo de Uso para Sistema de Gerenciamento de Espaços e Equipamentos</h1>
            <hr>
            <div class="termos">
                <p>Este Termo de Uso estabelece os termos e condições para a utilização do sistema de gerenciamento de espaços e equipamentos disponibilizado pela ReservEasy.</p>
                <h2>Responsabilidade do Usuário</h2>
                <p>Ao solicitar uma reserva de espaços e/ou equipamentos através deste sistema, o usuário assume total responsabilidade pelo uso adequado dos mesmos. Isso inclui o zelo pelos equipamentos e espaços reservados durante o período designado.</p>
                <h2>Custos por Danos</h2>
                <p>Em caso de danos significativos aos equipamentos ou espaços reservados durante o uso, o solicitante da reserva será responsável por custear os reparos ou substituições necessários. O valor a ser cobrado será determinado pela ReservEasy com base no custo real dos danos.</p>
                <h2>Retirada dos Equipamentos Reservados</h2>
                <p>Após a aprovação da solicitação de reserva, é responsabilidade do usuário retirar os equipamentos reservados no local e no horário designados. O não cumprimento desta condição resultará em penalidades.</p>
                <h2>Punição por Não Buscar Equipamentos Reservados</h2>
                <p>Em caso de aprovação da solicitação de reserva e não comparecimento para buscar os equipamentos reservados, o solicitante será punido com um dia de suspensão do serviço.</p>
                <h2>Punição por Atraso na Devolução</h2>
                <p>Se houver atraso na devolução dos equipamentos reservados, o usuário será punido com um dia de suspensão do serviço para cada dia de atraso. A cada dia adicional de atraso, a punição será dobrada. Por exemplo, no primeiro dia de atraso, a punição é de um dia, no segundo dia de atraso, a punição será de dois dias, e assim por diante.</p>
                <h2>Aceitação dos Termos</h2>
                <p>Ao utilizar o sistema de gerenciamento de espaços e equipamentos, o usuário concorda integralmente com os termos e condições estabelecidos neste Termo de Uso.</p>
                <h2>Alterações nos Termos</h2>
                <p>O ReservEasy reserva-se o direito de modificar este Termo de Uso a qualquer momento, mediante aviso prévio aos usuários. O uso contínuo do sistema após tais alterações constitui aceitação dos novos termos.</p>
                <p>Ao prosseguir com o uso do sistema, o usuário declara estar ciente e concordar com todos os pontos descritos neste Termo de Uso.</p>
            </div>
            <hr>
        
        </div>
    </div>

    <script src="{% static 'js/jquery-3.7.1.min.js'%}"></script>
    <script src="{% static 'js/jquery.mask.min.js'%}"></script> {% comment %} mascara em input (estilização) {% endcomment %}
    <script src="{% static 'js/mask.js'%}"></script> {% comment %} mascara tbm {% endcomment %}
    <script>
        // Script para manipular o modal
        document.addEventListener('DOMContentLoaded', function() {
            var openModalLink = document.getElementById('open-modal-termos');
            var modal = document.getElementById('modal');
            var closeModalButton = modal.querySelector('.close');

            openModalLink.addEventListener('click', function(event) {
                event.preventDefault();
                modal.style.display = 'flex';
            });

            closeModalButton.addEventListener('click', function() {
                modal.style.display = 'none';
            });

            window.addEventListener('click', function(event) {
                if (event.target === modal) {
                    modal.style.display = 'none';
                }
            });

            document.addEventListener('keydown', function(event) {
                if (event.key === 'Escape') {
                    modal.style.display = 'none';
                }
            });
        });
    </script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {

             // Script para mostrar as divs específicas

            //definindo variaveis referentes aos inputs radio e as divs de inputs específicos
            var servidorRadio = document.getElementById('servidor');
            var discenteRadio = document.getElementById('discente');
            var inputsServidor = document.getElementById('inputs-servidor');
            var inputsDiscente = document.getElementById('inputs-discente');

            //de acordo com o input radio marcado = aparece a div correspondente
            function toggleUserType() {
                if (servidorRadio.checked) {
                    inputsServidor.style.display = 'flex';
                    inputsDiscente.style.display = 'none';
                } else if (discenteRadio.checked) {
                    inputsServidor.style.display = 'none';
                    inputsDiscente.style.display = 'flex';
                }
            }
            //quando a marcação do input radio for alterada a função acima é chamada
            servidorRadio.addEventListener('change', toggleUserType);
            discenteRadio.addEventListener('change', toggleUserType);

             // Inicializa a exibição correta com base no radio button selecionado
            toggleUserType();

            //função que define o valor do input hidden de id "tipo"
            function defineTipo() {
                var tipoInput = document.getElementById('tipo'); //define qual é o input
    
                if (servidorRadio.checked) {
                    tipoInput.value = '2'; // Define o value do input como 2 quando o radio de servidor está marcado
                } else if (discenteRadio.checked) {
                    tipoInput.value = '1'; // Define o value do input como 1 quando o radio de discente está marcado
                }
            }
    
            // Adiciona um listener para chamar a função acima caso a marcação do radio mude
            servidorRadio.addEventListener('change', defineTipo);
            discenteRadio.addEventListener('change', defineTipo);
    
            // Define o tipo inicial ao carregar a página
            defineTipo();
        });
    </script>


</body>

</html>
