
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>
    <footer class="rodape-system">
        <div class="apresentation-system">
            <img src="{%static 'img/logo.png'%}" alt="" class="icon-system">
            <p style="margin: 0;"class="text-system">Todos os direitos reservados © | ReservEasy</p>
        </div>
    </footer>
</body>
</html>