{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/88a7a49c60.js" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
</head>
<body>
    <nav class="sidebar">
        <ul class="sidebar-dashboard">
            <img id="logo-dashboard" src="{% static 'img/logo2.png' %}">
            <ul class="dahboard-acessorapido">
            <li class="acesso-rapido">
                <a href="" class="link-service">
                    <i class="fa-solid fa-square-check"></i>
                    <p>Visão Geral</p>
                </a>
            </li>
            <li class="acesso-rapido">
                <a href="" class="link-service">
                    <i class="fa-solid fa-gear"></i>
                    <p>Configurações</p>
                </a>
            </li>
            <li class="acesso-rapido">
                <a href="" class="link-service">
                    <i class="fa-solid fa-circle-info"></i>
                    <p>Ajuda</p>
                </a>
            </li>
        </ul>
        <ul class="dashboard-servicos">
            <p class="title-dashboard-servicos">Serviços</p>
            <li class="servicos">
                <a href="" class="link-service">
                    <i class="fa-solid fa-users"></i>
                    <p>Usuários</p>
                </a>
            </li>
            <li class="servicos ">
                <a href="" class="link-service">
                    <i class="fa-solid fa-box-archive"></i>
                    <p >Setores</p>
                </a>
            </li>
            <li class="servicos ">
                <a href="" class="link-service">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <p>Pendências</p>
                </a>
            </li>
            <li class="servicos ">
                <a href="" class="link-service">
                    <i class="fa-solid fa-inbox"></i>
                    <p>Solicitações</p>
                </a>
            </li>
            <li class="servicos ">
                <a href="/recursos/" class="link-service">
                    <i class="fa-solid fa-boxes-stacked"></i>
                    <p>Estoque</p>
                </a>
            </li>
            <li class="servicos ">
                <a href="" class="link-service">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <p>Histórico</p>
                </a>
            </li>
        
            <li class="servicos">
                <a href="" class="link-service">
                    <i class="fa-solid fa-clipboard-check"></i>
                    <p>Reservar</p>
                </a>
            </li>
        </ul>
        </ul>
        <div class="sidebar-useractive">
        <div class="user-identification">
            <div class="text-identification">
                <p class="user-name">{{user}}</p>
                <p class="user-group">
                    {% if user.is_authenticated %} {% comment %} verifica se o usuário está autenticado {% endcomment %}
                        {% for group in user.groups.all %} {% comment %} obtem os grupos nos quais o usuário pertence {% endcomment %}

                            {% comment %} se ele pertencer ao grupo "Administrador Master" = 
                            Exibe "Admin Master" no paragrafo {% endcomment %}
                            {% if group.name == "Administrador Master" %} 
                                Admin Master

                            {% comment %} se ele não pertencer ao grupo "Administrador Master" = 
                            verifica se pertence ao grupo "Administrador de Setor", se pertencer = 
                            Exibe "Admin de Setor" no paragrafo {% endcomment %}
                            {% elif group.name == "Administrador de Setor" %}  
                                Admin de Setor

                            {% comment %} se ele não pertencer a outro grupo = 
                            Exibe "Solicitante" no paragrafo {% endcomment %}
                            {% else %}
                                Solicitante
                            {% endif %} {% comment %} finaliza o if que verifica o pertencimento a grupos {% endcomment %}

                        {% comment %} se a lista estiver vazia (ele nn pertencer a nenhum grupo) = 
                        exibe "Solicitante" no paragrafo {% endcomment %}
                        {% empty %}
                            Solicitante
                        {% endfor %} {% comment %} finaliza o for {% endcomment %}
                    {% endif %} {% comment %} finaliza o if inicial (que permite entrada somente de usuarios autenticados) {% endcomment %}
                </p>
                
            </div>
            
        </div>
        <a href="#" class="logout-atalho" data-bs-toggle="modal" data-bs-target="#confirmacaoModal">
            <i class="fa-solid fa-right-from-bracket"></i>
            <p>Sair</p>
        </a>
        </div>
    </nav>

    <div class="modal fade" id="confirmacaoModal" tabindex="-1" aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmacaoModalLabel">Confirmação de saída</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    Tem certeza de que deseja sair?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a href="/accounts/logout" class="btn btn-primary elements-exclusiv" >Sair</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>