
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/page_found.css'%}">
    <title>Página não encontrada</title>
</head>
<body>
    <section class="errorpage">
        <div class="image-error">
            <img src="{% static 'img/error.png' %}" alt="">
        </div>
        <div class="message-error">
            <div class="message-type-error">
                <h1>404</h1>
            </div>
            <div class="message-main-error">
                <p>Não conseguimos encontrar a página que tentou acessar. : (</p>
            </div>
        </div>
        <div class="btn-back-error">
            <div class="image-system">
                <img src="{% static 'img/logo.png'%}" alt="">
            </div>
            <div class="btn-back">
                <button id="btnVoltar">Voltar ao início</button>
            </div>
        </div>
    </section>
    <script src="{% static 'js/windowBack.js' %}"></script>
</body>
</html>