<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="formSetor.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/88a7a49c60.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="section-form-sector">
        <div class="identication-service-instrucion">
            <div class="identification-section">
                <h1 class="title-service">Setores - Cadastramento de Setor</h1>
                <button id="btnVoltar">Voltar</button>
            </div>
            <h2 class="subtitle-service">Insira os dados gerais do novo setor</h2>
        </div>
        <div class="layoutFlex">
            <div class="widget-symbol" id="image-preview"><i class="fa-solid fa-box-archive"></i></div>
            <form action="" method="post">

                <div class="input-recurso">
                    <p>
                        <label for="">Nome:</label>
                        <input type="text" name="" id="">
                    </p>
                </div>
                <div class="button-container">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </form>
        </div>
    </section>
    <script src="{% static 'js/inputs.js '%}"></script>

</body>

</html>