{% extends 'partials/_base.html' %}

{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="{% static 'css/formSetor.css'%}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/88a7a49c60.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="section-form-sector">
        <div class="identication-service-instrucion">
            <div class="identification-section">
                <h1 class="title-service">Setores - Cadastramento de Setor</h1>
                <button id="btnVoltar">Voltar</button>
            </div>
            <h2 class="subtitle-service">Insira os dados gerais do novo setor</h2>
        </div>
        <div class="layoutFlex">
            <div class="widget-symbol" id="image-preview"><i class="fa-solid fa-box-archive"></i></div>
            <form action="" method="post">

                <div class="input-recurso">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div class="button-container">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </form>
        </div>
    </section>
    <script src="{% static 'js/inputs.js '%}"></script>
    <script src="{% static 'js/windowBack.js' %}"></script>

</body>

</html>
{% endblock %}
