<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/88a7a49c60.js"
      crossorigin="anonymous"
    ></script>
    <title>Reservas | ReservEasy</title>
  </head>
  <body>
    <!-- listagem dos recursos disponiveis -->
    <div class="recursos-disponiveis">
      <!-- espaços disponiveis -->
      <h1 class="title-espaco-reserva">Espaços disponíveis:</h1>
      <div class="itens-reserva">
        <div class="item-reserva">
          <div class="imagem-item-reserva">
            <img src="img/quadragrande.jpg" alt="" />
          </div>
          <div class="informacao-item-reserva">
            <div class="informacoes-item-reserva">
              <h1 class="title-item-reserva">Nome</h1>
              <p class="descricao-item-reserva">Descrição</p>
              <p class="descricao-item-reserva">Setor:</p>
            </div>
            <div class="btn-item-reserva">
              <input type="radio" name="quadra" value="1" require checked />
              <button>Reservar</button>
            </div>
          </div>
        </div>

        <div class="item-reserva">
          <div class="imagem-item-reserva">
            <img src="img/quadragrande.jpg" alt="" />
          </div>
          <div class="informacao-item-reserva">
            <div class="informacoes-item-reserva">
              <h1 class="title-item-reserva">Nome</h1>
              <p class="descricao-item-reserva">Descrição</p>
              <p class="descricao-item-reserva">Setor:</p>
            </div>
            <div class="btn-item-reserva">
              <input type="radio" name="quadra" value="1" require checked />
              <button>Reservar</button>
            </div>
          </div>
        </div>

        <div class="item-reserva">
          <div class="imagem-item-reserva">
            <img src="img/quadragrande.jpg" alt="" />
          </div>
          <div class="informacao-item-reserva">
            <div class="informacoes-item-reserva">
              <h1 class="title-item-reserva">Nome</h1>
              <p class="descricao-item-reserva">Descrição</p>
              <p class="descricao-item-reserva">Setor:</p>
            </div>
            <div class="btn-item-reserva">
              <input type="radio" name="quadra" value="1" require checked />
              <button>Reservar</button>
            </div>
          </div>
        </div>

        <div class="item-reserva">
          <div class="imagem-item-reserva">
            <img class="imgcomfiltro" src="img/quadrabasquete.jpg" alt="" />
          </div>
          <div class="informacao-item-reserva">
            <div class="informacoes-item-reserva">
              <h1 class="title-item-reserva">Quadra II</h1>
              <p class="descricao-item-reserva">Basquete</p>
              <p class="descricao-item-reserva">Setor:</p>
            </div>
            <div class="btn-item-reserva">
              <button>Em manutenção</button>
            </div>
          </div>
        </div>
      </div>

      <!-- equipamentos disponiveis -->
      <h1 class="title-espaco-reserva">Equipamentos disponíveis:</h1>
      <div class="itens-reserva">
        <div class="item-reserva">
          <div class="imagem-item-reserva">
            <img src="img/quadragrande.jpg" alt="" />
          </div>
          <div class="informacao-item-reserva">
            <div class="informacoes-item-reserva">
              <h1 class="title-item-reserva">Nome</h1>
              <p class="descricao-item-reserva">Descrição</p>
              <p class="descricao-item-reserva">Setor:</p>
            </div>
            <div class="btn-item-reserva">
              <input type="radio" name="quadra" value="1" require checked />
              <button>Reservar</button>
              <div data-app="product.quantity" id="quantidade">
                <span
                  id="span_erro_carrinho"
                  class="blocoAlerta"
                  style="display: none"
                  >Selecione uma opção para variação do produto</span
                >
                <input
                  type="button"
                  id="plus"
                  value="-"
                  onclick="process(-1)"
                />
                <input
                  id="quant"
                  name="quant"
                  class="text"
                  size="1"
                  type="text"
                  value="1"
                  maxlength="5"
                />
                <input
                  type="button"
                  id="minus"
                  value="+"
                  onclick="process(1)"
                />
              </div>
              <!-- <button type="submit">Comprar</button> -->
            </div>
          </div>
        </div>

        <div class="item-reserva">
          <div class="imagem-item-reserva">
            <img src="img/quadragrande.jpg" alt="" />
          </div>
          <div class="informacao-item-reserva">
            <div class="informacoes-item-reserva">
              <h1 class="title-item-reserva">Nome</h1>
              <p class="descricao-item-reserva">Descrição</p>
              <p class="descricao-item-reserva">Setor:</p>
            </div>
            <div class="btn-item-reserva">
              <input type="radio" name="quadra" value="1" require checked />
              <button>Reservar</button>
              <div data-app="product.quantity" id="quantidade">
                <span
                  id="span_erro_carrinho"
                  class="blocoAlerta"
                  style="display: none"
                  >Selecione uma opção para variação do produto</span
                >
                <input
                  type="button"
                  id="plus"
                  value="-"
                  onclick="process(-1)"
                />
                <input
                  id="quant"
                  name="quant"
                  class="text"
                  size="1"
                  type="text"
                  value="1"
                  maxlength="5"
                />
                <input
                  type="button"
                  id="minus"
                  value="+"
                  onclick="process(1)"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="item-reserva">
          <div class="imagem-item-reserva">
            <img src="img/quadragrande.jpg" alt="" />
          </div>
          <div class="informacao-item-reserva">
            <div class="informacoes-item-reserva">
              <h1 class="title-item-reserva">Nome</h1>
              <p class="descricao-item-reserva">Descrição</p>
              <p class="descricao-item-reserva">Setor:</p>
            </div>
            <div class="btn-item-reserva">
              <input type="radio" name="quadra" value="1" require checked />
              <button>Reservar</button>
              <div data-app="product.quantity" id="quantidade">
                <span
                  id="span_erro_carrinho"
                  class="blocoAlerta"
                  style="display: none"
                  >Selecione uma opção para variação do produto</span
                >
                <input
                  type="button"
                  id="plus"
                  value="-"
                  onclick="process(-1)"
                />
                <input
                  id="quant"
                  name="quant"
                  class="text"
                  size="1"
                  type="text"
                  value="1"
                  maxlength="5"
                />
                <input
                  type="button"
                  id="minus"
                  value="+"
                  onclick="process(1)"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="item-reserva">
          <div class="imagem-item-reserva">
            <img class="imgcomfiltro" src="img/quadrabasquete.jpg" alt="" />
          </div>
          <div class="informacao-item-reserva">
            <div class="informacoes-item-reserva">
              <h1 class="title-item-reserva">Quadra II</h1>
              <p class="descricao-item-reserva">Basquete</p>
              <p class="descricao-item-reserva">Setor:</p>
            </div>
            <div class="btn-item-reserva">
              <input type="radio" name="quadra" value="1" require checked />
              <button>Reservar</button>
              <div data-app="product.quantity" id="quantidade">
                <span
                  id="span_erro_carrinho"
                  class="blocoAlerta"
                  style="display: none"
                  >Selecione uma opção para variação do produto</span
                >
                <input
                  type="button"
                  id="plus"
                  value="-"
                  onclick="process(-1)"
                />
                <input
                  id="quant"
                  name="quant"
                  class="text"
                  size="1"
                  type="text"
                  value="1"
                  maxlength="5"
                />
                <input
                  type="button"
                  id="minus"
                  value="+"
                  onclick="process(1)"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- botoes de continuidade -->
      <div class="btnsReserva">
        <button id="btnCancelar">Cancelar</button>
        <button id="btnReservar">Continuar</button>
      </div>
    </div>

    <!-- visao geral da reserva -->
    <div class="dashboard-solicitacao">
      <h1 class="title-widget">Visão Geral</h1>
      <div class="dashboard-solicitacao-content">
        <table class="table table-striped table-bordered mt-3">
          <thead>
            <tr class="tr-row">
              <th class="th-column">Quant</th>
              <th class="th-column">Espaço/Equipamento</th>
              <th class="th-column">Setor alocado</th>
              <th class="th-column actions">Ações</th>
            </tr>
          </thead>
          <tbody id="resource-list">
            <tr class="tr-row">
              <td class="request-view">4</td>
              <td class="recurso-view">Pincel de Quadro</td>
              <td class="recurso-view">Núcleo Pedagógico</td>
              <td class="actions">
                <a href="" class="btn btn-editar"
                  ><i class="fa-solid fa-trash-can"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- justificativa da reserva -->
    <div class="justificativa-solicitacao">
      <h1 class="title-widget">Justificativa</h1>
      <form class="justificativa" method="post">
        <textarea
          id="longText"
          name="longText"
          rows="5"
          cols="70"
          maxlength="5000"
        ></textarea>
        <div class="btnsReserva">
          <button id="btnCancelar">Cancelar</button>
          <button id="btnReservar">
            <i class="fa-regular fa-circle-check"></i> Reservar
          </button>
        </div>
      </form>
    </div>

    <!-- confirmaão de solicitação enviada (solicitante) -->
    <div class="text-important">
      <h1>Solicitação enviada!</h1>
      <p>
        Por favor, aguarde o recebimento do e-mail de aprovação da sua
        solicitação ou acesse o sistema e selecione a opção "Acompanhar
        solicitação" para verificar se a mesma foi aceita.
      </p>
      <p><strong>Código da solicitação:</strong> XXXXXXXXXXXXXXXXXXX</p>
      <div class="btnsReserva">
        <button id="btnRetorno">Voltar para o início</button>
      </div>
    </div>
    <!-- confirmaão de solicitação enviada (adm) -->
    <div class="text-important">
      <h1>Reserva feita!</h1>
      <p>
        Por favor, aguarde o recebimento do e-mail de aprovação para verificar
        as devidas informações para o uso do itens solicitados.
      </p>
      <p><strong>Código da solicitação:</strong> XXXXXXXXXXXXXXXXXXX</p>
      <div class="btnsReserva">
        <button id="btnRetorno">Voltar para o início</button>
      </div>
    </div>
  </body>

  <!-- atualiza dinamicamente quando o campo de verificação e busca for preenchido  -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const inputs = document.querySelectorAll('input[type="datetime-local"]');
      inputs.forEach((input) => {
        const placeholderField = input.parentElement.nextElementSibling;

        input.addEventListener("input", function () {
          if (input.value) {
            placeholderField.textContent = "Inserido com sucesso";
            placeholderField.classList.add("success");
          } else {
            placeholderField.textContent = "Insira uma data para o jogo";
            placeholderField.classList.remove("success");
          }
        });
      });
    });
  </script>
</html>
