<!DOCTYPE html>
<html>
<head>
    <title>Lista de Reservas</title>
</head>
<body>
    <h1>Lista de Reservas</h1>
    <ul>
        {% for reserva in reservas %}
            <li>
                <strong>Data e Hora Inicial:</strong> {{ reserva.dataHorarioInicial }}<br>
                <strong>Data e Hora Final:</strong> {{ reserva.dataHorarioFinal }}<br>
                <strong>Justificativa:</strong> {{ reserva.justificativa }}<br>
                <strong>Equipamentos:</strong>
                <ul>
                    {% for reserva_equipamento in reserva.reserva_equipamento.all %}
                        <li>{{ reserva_equipamento.recurso.nome }}</li>
                    {% endfor %}
                </ul>
                <strong>Espaços:</strong>
                <ul>
                    {% for reserva_espaco in reserva.reserva_espaco.all %}
                        <li>{{ reserva_espaco.espaco.nome }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
