@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
.form-reserva-user{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0px;
    align-items: center;
    min-height: 90vh;
}

.confirmacao{
    justify-content:center;
}
.reserva-analise-disponibilidade-usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: rgb(217,222,234);
    background: -moz-linear-gradient(86deg, rgba(217,222,234,1) 0%, rgba(2,35,118,0.4) 17%, rgba(2,35,118,0.89) 57%, rgba(2,35,118,1) 100%);
    background: -webkit-linear-gradient(86deg, rgba(217,222,234,1) 0%, rgba(2,35,118,0.4) 17%, rgba(2,35,118,0.89) 57%, rgba(2,35,118,1) 100%);
    background: linear-gradient(86deg, rgba(217,222,234,1) 0%, rgba(2,35,118,0.4) 17%, rgba(2,35,118,0.89) 57%, rgba(2,35,118,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d9deea",endColorstr="#022376",GradientType=1);

}
.busca-disponibilidade{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width:80%;
}
.text-disponibilidade{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #022376;
    width: 100%;
}
.input-data{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 10px;
    border: 0.5px solid #252525;
}
.input-data i{
    font-size: 25px;
    color: #022376;
}
.placeholder-field{
    font-size: 12px;
    color: #022376;
}
.fields-data-reserva > p > input, .fields-data-reserva > p > label{
    font-size: 12px;
    color: #022376;
}
.fields-data-reserva > p > label{
    text-transform: uppercase;
}
p label::after {
content: ":";
margin-left: 2px;
}
.fields-data-reserva > p > input{
    border: none;
    font-weight: 600;
    cursor: pointer;
}
.placeholder-field.success {
    font-weight: bold;
    
}
.placeholder-field i{
    font-size: 15px;
    
}
.placeholder-field.success::before {
    content: "\f00c"; 
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    margin-right: 5px; 
}
.busca-dataHorario{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content:space-between;
}
.btn-verificarDisponibilidade button{
    background-color: #011035;
    border: none;
    color: #fff;
    padding: 5px 12px;
    font-size: 12px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.btn-verificarDisponibilidade button:hover{
text-decoration: none;
background-color: #010C29;
}

#title-reservas{
    font-size: 30px;
    color: #022376;
}
#subtitle-descricao{
    font-size: 18px;
    font-weight: 500;
    color: #022376;
}
.widget-tutorial{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.text-widget-tutorial{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}
.image-widget-tutorial{
    display: flex;
    gap: 30px;
}
.image-tutorial {
background-color: #010C29;
width: 200px;
height: 200px;
border-radius: 10px;
overflow: hidden; 
position: relative; 
}

.image-tutorial img {
position: absolute; 
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover; 
border-radius: 10px;
}

.subtitle-descricao{
    font-size: 18px;
    font-weight: bold;
    color: #022376;
}
.title-reservas{
    font-size: 30px;
    color: #022376;
    font-weight: 400;
}
.widget-tutorial a{
    font-weight: bold;
    text-decoration: underline;
    color: #011035;
    font-size: 12px;
}
/* Estilo geral para o contêiner do filtro */
.filter-recursos {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

 /* Estilo da lista de filtros */
 .filter-list {
    display: flex;
    align-items: baseline;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.filter-item {
    display: flex;
    flex-direction: column;
    position: relative;
}

.filter-item > div {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 8px;
    background-color: #fff;
    color: #252525;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    border: 0.5px solid #252525;
}

.filter-content {
    display: none; /* Oculta os filtros adicionais por padrão */
    margin-top: 10px;
}

.filter-options {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Exibe os itens verticalmente */
    gap: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.filter-options > li {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.filter-options > li:hover {
    background-color: #e0e0e0;
}

.filter-title.selected {
    background-color: #A0BE3D;
    color: white;
    border: none;
}

.items-list {
    margin-top: 20px;
}

.item {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.item:nth-child(even) {
    background-color: #f9f9f9;
}

.item:hover {
    background-color: #f1f1f1;
}

.filter-title.main {
    background-color: #022376;
    color: white;
    border: none;
}
.itens-reserva {
width: 80%;
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
align-content: center;
gap: 10px;
}

.item-reserva {
padding: 15px;
gap: 10px;
border-radius: 10px;
border: 1px dashed #13510e;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
height:350px;
max-width: 180px;
min-width: 180px;
}

.imagem-item-reserva {
width: 100%;
height: 50%;
}



.informacoes-item-reserva {
display: flex;
gap: 2px;
flex-direction: column;
}

.informacao-item-reserva {
display: flex;
gap: 10px;
flex-direction: column;
justify-content: left;
}

.title-item-reserva {
font-size: 15px;
font-weight: bold;
}

.descricao-item-reserva {
font-weight: 300;
font-size: 12px;
color:#252525;
}

.btn-item-reserva {
display: flex;
align-items: center;
justify-content: center;
border: 0.1px solid #13510e;
border-radius: 8px;
padding: 5px;
gap: 10px;
}

.btn-item-reserva > img {
width: 20px;
height: auto;
}

.btn-item-reserva > p, .btn-item-reserva  label {
border: none;
color: #13510e;
font-size: 12px;
background-color: #ffffff00;
}

.imgcomfiltro {
filter: grayscale(100%);
}
.title-espaco-reserva{
margin-left: 30px;
}

.blocoAlerta {
color: red;
font-weight: bold;
margin-bottom: 10px;
}
div[data-app="product.quantity"]{
margin-left: 10px;
display: flex;
}
div[data-app="product.quantity"] label {
font-size: 14px;
font-weight: bold;
}

.text {
width: 20px;
text-align: center;
border: 1px solid #ccc;
border-radius: 3px;
padding:  2px 10px;
}

div[data-app="product.quantity"] input[type="button"] {
background-color: #D9D9D9;
border: 1px solid #D9D9D9;
border-radius: 3px;
padding: 5px 5px;
cursor: pointer;
color: #000;
}

div[data-app="product.quantity"] input[type="button"]:hover {
background-color: #e0e0e0;
}
.recursos-disponiveis{
width: 100%;
display: flex;
flex-direction: column;
gap: 40px;
justify-content: center;
align-items: center;
margin-top: 40px;
}
#btnCancelar,#btnReservar {
        background-color: #022376;
        color: #fff;
        border: none;
        padding: 5px 12px;
        font-size: 12px;
        border-radius: 5px;
        text-decoration: none;
        text-transform: uppercase;
    }

#btnCancelar{
    border: 0.5px solid #ccc;
    background-color: #fff;
    color: #000;
}
#btnCancelar:hover{
    text-decoration: none;
    background-color: #A0BE3D;
    color: #fff;
}
#btnReservar:hover {
    text-decoration: none;
    background-color: #010C29;
}
.btnsReserva{
    padding: 20px;
    display: flex;
    gap: 30px;
}
.dashboard-solicitacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.dashboard-solicitacao-content{
    background-color: #e2e0e0;
    border-radius: 20px;
    border: 0.5px solid #ccc;
    padding: 20px;
}
th,tr, tbody, thead,td{
    padding: 5px 10px;
    text-align: left;
    font-size: 13px;
}
.btn{
    background-color: #BE3D3D;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
}
td.actions{
    display: flex;
    align-items: center;
    justify-content: center;
}
.justificativa-solicitacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width:80%;
}
input[type="checkbox"]:checked ~ .btn-item-reserva {
    background-color: #d4edda; /* Cor de fundo quando marcado */
}
textarea{
    padding: 10px;
    border-radius: 10px;
    width:100%;
}
.justificativa{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-important p{
    font-size: 14px;
    text-align: center;
}
.text-important{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #eaeaea;
    padding: 30px;
    border-radius: 20px;
}
.text-important h1{
    font-size: 30px !important;
    font-weight: bold !important;
}
#btnRetorno {
        background-color: #022376;
        color: #fff;
        border: none;
        padding: 5px 12px;
        font-size: 12px;
        border-radius: 5px;
        text-decoration: none;
    }

#btnRetorno:hover {
    text-decoration: none;
    background-color: #010C29;
}


p{
    margin: 0;
}

