@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Sora";
}

.header-usuario {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(19, 81, 14, 0.92) 0%,
    rgba(19, 81, 14, 0.95) 73.96%,
    #13510e 100%
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
}

.header-part-right {
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
  align-items: center;
}

#logo-header {
  width: 70px;
  padding: 10px;
  height: auto;
}

.btn-usuario-subst {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header-usuario a {
  text-decoration: none;
}

.btns-usuario {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

.btn-header,
.btn-subst {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.btn-header:hover,
.btn-subst:hover {
  color: #dddddd;
}

.btn-subst:nth-child(2) {
  padding: 5px 18px;
  border: 1px solid white;
  border-radius: 25px;
}

.btn-subst:nth-child(2):hover {
  border: 1px solid #dddddd;
  background-color: #dddddd;
  border-width: 3px;
  color: #14520f;
  font-weight: bold;
}

#btn-subst-profile {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.photo-usuario {
  width: 30px;
  height: auto;
}
.name-usuario{
  margin: 0 0 0 5px;
}
.elements-exclusiv{
  background-color: #14520f;
  color: #ffffff;
  border: 1px solid rgb(206, 206, 206);
}

/* Media queries para responsividade */
@media screen and (max-width: 768px) {
  .header-part-right {
    flex-direction: column;
    gap: 10px;
  }

  .btn-usuario-subst {
    flex-direction: column;
    gap: 10px;
  }
  .btn-header,
  .btn-subst {
    font-size: 15px;
  }
}
