*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
.errorpage{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.image-error{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-error > img{
    width: 40%;
    height: auto;
}
.message-error{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.message-type-error > h1{
    font-size: 80px;
    color: #A3C23E;
}
.message-main-error > p{
    font-size: 18px;
    color: #384315;
}
#btnVoltar{
    background-color: #022376;
    color: #fff;
    border: none;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-back-error{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#btnVoltar:hover{
    text-decoration: none;
    background-color: #010C29;
}
.image-system > img{
    height: 50px;
    width:  auto;
}