{% extends "partials/_base.html" %}
{% block content %}
{% load static %}
<style>
    .identification-section{
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        margin-left: 15px;
    }
    .identification-section button, .services-btns a{
        background-color: #022376;
        border: none;
        color: #fff;
        padding: 5px 12px;
        font-size: 12px;
        border-radius: 5px;
        text-decoration: none;
    }
    .identification-section button:hover{
        text-decoration: none;
        background-color: #010C29;
    }
    .title-service{
        font-size:25px;  
    }
    .subtitle-service{
        margin-top: 10px;
        font-size: 15px;
        margin-left: 15px;
    }
    form .inputs-crud{
        display: flex;
        flex-wrap: wrap;
    }
    p label {
        font-size: 14px;
        font-weight: 300;
        color: #333333;
    }
    p input {
        background-color: #ffffff00;
        border: 0.1px solid #666666;
        border-radius: 5px;
        width:90%;
        padding: 6px 5px;
        font-size:13px;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    p{
        width:50%;
        gap:10px;
    }
    form p{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .container {
        display: flex;
        padding: 0;
    }
    .container a{
        font-size: 14px;
    }
    .container input{
        width: 15px;
        height:15px;
    }
</style>
<div class="identification-section">
    <h1 class="title-service">Estoque - Coordenação de Assuntos Estudantis #1</h1>
    <button id="btnVoltar" >Voltar</button>
</div>
<h2 class="subtitle-service">Dados gerais do recurso:</h2>
<form action="/recursos/editar/{{id_recurso}}" method="post" >
    <div class="inputs-crud"> 
        {% csrf_token %}
        {{ form.as_p }}
    </div>
    <button type="submit" class="btn btn-primary">Atualizar</button>
</form>
<script>
    // Seleciona a label, o input e o link pelo ID
    var label = document.querySelector('label[for="imagem-clear_id"]');
    var input = document.getElementById('imagem-clear_id');
    var link = document.querySelector('a[href="/media/pictures/2024/06/ginasio.jpg"]');

    // Cria uma div para agrupar a label, o input e o link
    var div = document.createElement('div');
    div.classList.add('container'); // Adiciona uma classe para estilização opcional

    // Insere a div antes do input
    input.parentNode.insertBefore(div, input);

    // Move a label, o input e o link para dentro da div
    div.appendChild(link);
    div.appendChild(input);
    div.appendChild(label);
    
</script>
<script src="{% static 'js/windowBack.js '%}"></script>
{% endblock content %}
