
{%  extends  "partials/_base.html" %}
{% block content %}

<style>
    form{
        width: 95%;
        margin-left: 15px;
    }
    select, 
    input[type="file"],
    input[type="text"],
    textarea {
        background-color: white;
        border: 0.1px solid #666666;
        border-radius: 5px;
        padding: 5px 5px;
        width: 100%;
        margin-top: 5px;
    }
   button[type="submit"] {
        width: 20%;
        background-color: #13510e;
        color: white;
        padding: 7px 10px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    
    .btn.submit:hover {
        background-color: #45a049;
    }
    p{
        display: flex;
        flex-direction: column;
    }

    p label {
        font-size:15px;
        color: #333333;
        font-weight: bold;
    }

    hr {
        border: 0;
        height: 1px;
        background: #ccc;
        margin: 20px 0;
    }
    .identification-section{
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        margin-left: 15px;
    }
    .identification-section a, .services-btns a{
        background-color: #022376;
        color: #fff;
        padding: 5px 12px;
        font-size: 12px;
        border-radius: 5px;
        text-decoration: none;
    }
    .identification-section a:hover{
        text-decoration: none;
        background-color: #010C29;
    }
    .title-service{
        font-size:25px;  
    }
    .subtitle-service{
        margin-top: 10px;
        font-size: 15px;
        margin-left: 15px;
    }
</style>
<div class="identification-section">
    <h1 class="title-service">Estoque - Coordenação de Assuntos Estudantis #1</h1>
    <a href="">Voltar</a>
</div>
<h2 class="subtitle-service">Insira os dados gerais do novo recurso</h2>
<form action="/recursos/create/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock content %}

