
{%  extends  "partials/_base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/formRecurso.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="identification-section">
    <h1 class="title-service">Estoque - Coordenação de Assuntos Estudantis #1</h1>
    <button id="btnVoltar" >Voltar</button>
</div>
<h2 class="subtitle-service">Insira os dados gerais do novo equipamento</h2>
<div class="layoutFlex">
    <div class="image-preview" id="image-preview"><span>Pré-visualização da imagem</span></div>
<form action="/recursos/createEquipamento/" method="post" enctype="multipart/form-data">
        
    <div class="input-recurso">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <label for="">Setor</label>
            <select name="" id=""></select>
        </p>
    </div>
    <div class="button-container">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
</form>
</div>
<script src="{% static 'js/inputs.js '%}"></script>
<script src="{% static 'js/windowBack.js '%}"></script>
<script src="{% static 'js/updateImagePreview.js '%}"></script>

{% endblock content %}
</body>
</html>