{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/88a7a49c60.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/listarSolicitacao.css" %}">
    <title>Solicitações | ReservEasy</title>
</head>
<body>
    <section class="request-user">
        <div class="request-user-title-filter">
            <h1>Solicitações</h1>
            <div class="request-filter-service">
                <div class="request-filter">
                    {% comment %} <button id="btnFilter">
                        <i class="fa-solid fa-filter"></i>
                        <p>Filtro</p>
                    </button> {% endcomment %}
                    <p class="request-count">{{quant_reservas}} Solicitações</p>
                </div>
                <a href="/reserva/reservar/" id="newRequest">Solicitar reserva</a>
            </div>
        </div>
{% if reservas %}
<div class="request-list">
    <ul class="list-solicitation">
        {% for reserva in reservas %}
                    <li class="item-solicitation">
                    <div class="item-part-request">
                        <div class="situation-request"></div>
                        <div class="identification-request">
                        <a href="/reserva/detalhar/{{ reserva.id }}" class="request-link">
                            <p class="identification">Solicitação #{{reserva.id}}</p>
                            {% comment %} <p class="status-finaly">Status: Aguardando retirada</p> {% endcomment %}
                        </a>
                        </div>
                    </div>
                        <div class="detail-situation">
                            <div class="status-request">
                                <div class="situation-request"></div>
                                {% if reserva.andamento == 'em_analise' %}
                                    <p class="status-request-text">Em Análise</p>
                                {% elif reserva.andamento == 'aprovada' %}
                                    <p class="status-request-text">Aprovada</p>
                                {% else %}
                                    <p class="status-request-text">Negada</p>
                                {% endif %}
                            </div>
                            <div class="date-request">
                                <p class="date-request-text">
                                    {{reserva.dataHorarioSolicitacao}}
                                </p>
                            </div>
                        </div>
                    </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
    </section>
</body>
</html>